In [2]:
# strings 
a ="python"

In [3]:
# forward indexing 

print(a[1])

y

In [5]:
#reverse indexing 
print(a[-1])

n

In [6]:
# loop in string 
for i in a:
    print(i, end=" ")

p y t h o n

In [7]:
# slicing in string 
print(a[0:4])

pyth

In [8]:
#  Replication 
a = '12'*3
a

'121212'

In [9]:
# len of string 
# index value of a sub string 

a = "himanshu"
a.index('a')

3

In [12]:
# isalnum >>> al + num ==> 

a ="sam123"
b =" "
print(a.isalnum())
print(b.isalnum())

True
False

In [13]:
# is digit 
a  ='4582286'
a.isdigit()

True

In [14]:
# is alpha ()

a ='sam'
a.isalpha()

True

In [15]:
# strip removes the white spaces 

text = " hello , world "
print(text.strip())

hello , world

In [17]:
#  replace method 
text = " i love playing chess"
print(text.replace("playing", "watching"))

 i love watching chess

In [18]:
#  split : split string into a list 
text = " apple ,banana , melon"
print(text.split(" , "))

[' apple ,banana', 'melon']

In [19]:
# join method 
fruits =['apple', 'banana ', 'melon']
print(" ,".join(fruits))

apple ,banana  ,melon

In [21]:
# string formatting 
name = "sonu"
age = 19
print(f"my name is {name} and my age is {age}")

my name is sonu and my age is 19

In [ ]:
# 2. using format 
name = "sonu"
age = 19
print("my name is {} and my age is {}  ".format(name, age))

my name is sonuand my age is 19

In [ ]:
# list in python 

# 1. identification =[]
# 2. mutable data type > change or update during run time 
# 3. indexing start from 0 and length start from 1

In [27]:
a =['sam','raj',566,789,456]
a[1]= 'harsh'
print(a)

['sam', 'harsh', 566, 789, 456]

In [28]:
type(a)
print(a[1])

harsh

In [ ]:
# replication 
a = []

In [ ]:
# .index.
numbers = [10, 20, 30, 40, 50, 20]
print(numbers.index(20)) 

# .count()

numbers = [10, 20, 30, 20, 20, 50]
print(numbers.count(20))  


# .len()

numbers = [10, 20, 30, 40, 50]
print(len(numbers)) 
# .min()
numbers = [10, 20, 30, 40, 50]
print(min(numbers)) 

# .max()
numbers = [10, 20, 30, 40, 50]
print(max(numbers)) 

#.append
numbers = [10, 20, 30]
numbers.append(40)
print(numbers)

In [ ]:
# insert index , object

In [30]:
a= ['sam', 'raj',457,963]
print(a)
a.pop('raj')
print(a)

['sam', 'raj', 457, 963]

TypeError: 'str' object cannot be interpreted as an integer

In [31]:
a= ['sam','raj',566,458.01]
print(a)
a.remove('raj')
print(a)

['sam', 'raj', 566, 458.01]
['sam', 566, 458.01]

In [36]:
# creating a user defined list 

a=[]
size = int(input("enter size "))
for i in range (size):
    val = input("enter element ")
    a.append(val)
print(a)

['raj', 'dam', '78.36', '45', 'harsh']

In [ ]:
# a =[]
# size = int(input("enter size"))
# for i in range (size)

In [37]:
b= []
c = []
d =[]
for i in range (len(a)):
    if(a[i].isdigit()==True):
        b.append(a[i])
    elif(a[i].isalpha()== True):
        c.append(a[i])
    else:
        d.append(a[i])

In [38]:
print(b)
print(c)
print(d)

['45']
['raj', 'dam', 'harsh']
['78.36']

In [39]:
a = "hello"
print(a[::-1])

olleh

In [44]:
a = "programming"
substring = a[3:7]
print(substring)

gram

In [41]:
b="banana"
print(b.count("a"))

3

In [42]:
s="hello world"
print(s.upper())

HELLO WORLD

In [ ]:
s = "hello world"
print(s.)

AttributeError: 'str' object has no attribute 'check'

In [45]:
s = "hello world"
print(s.index("o"))

4

In [47]:
s = "apple , banana , cherry"
fruits = [fruit.strip() for fruit in s.split(",")]

print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Tuples 
# Immutable

In [1]:
a= ('sam', 'rahul',785,52.36)

In [2]:
b = list(a)

In [3]:
b[1]= 'python'
b

['sam', 'python', 785, 52.36]

In [4]:
c=  tuple(b)
c

('sam', 'python', 785, 52.36)

In [ ]:
# concatinate
a =(1,2,3)
b=(4,5,6)
c = a+b
c

# things we have to lock and dont want to change is written in list 
# else it will be written in tuple

(1, 2, 3, 4, 5, 6)

In [7]:
# replicate 
a = (1,2,3)*3
a

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
# functions in tuple 
# 1. len 
a=("rahul", "sam", 56,78.3)

len(a)

4

In [14]:
a.index(56)
a.count(56)

1

In [15]:
# how to create a user defined tuple
a =[]
size = int(input("enter size "))
for i in range (size):
    val = input("enter item ")
    a.append(val)
b= tuple(a)
b

('hello ', 'raj ', '21')

In [ ]:
# dictionary in python 
# identification (key:value, key:value)
# mutable by values
# elements are seprated by commas ,

In [17]:
a ={"brand":"kia", "Model":"seltos", "year":2023}
a
type(a)

dict

In [18]:
a['year']=2024
print(a)

{'brand': 'kia', 'Model': 'seltos', 'year': 2024}

In [20]:
a["color"]="balck"
a

{'brand': 'kia', 'Model': 'seltos', 'year': 2024, 'color': 'balck'}

In [21]:
# loop in dictionary
for i in a.values():
    print(i)

kia
seltos
2024
balck

In [22]:
for i in a.keys():
    print(i)

brand
Model
year
color

In [24]:
for x,y in a.items():
    print(x,y)

brand kia
Model seltos
year 2024
color balck

In [25]:
# functions in dictionary 
# 1. len()
a ={"brand":"kia", "Model":"seltos", "year":2023}
len(a)

3

In [26]:
# pop the item 
a ={"brand":"kia", "Model":"seltos", "year":2023}
print(a)
a.popitem()
print(a)

{'brand': 'kia', 'Model': 'seltos', 'year': 2023}
{'brand': 'kia', 'Model': 'seltos'}

In [27]:
# clear
a ={"brand":"kia", "Model":"seltos", "year":2023}
print(a)
a.clear()
print(a)

{'brand': 'kia', 'Model': 'seltos', 'year': 2023}
{}

In [ ]:
# sets in python 
# 1. identification = {}
# mutable datatype unordered unindexed 
# it will remove all duplicates

In [30]:
a = {'mohit',56,56,'rahul'}
print(a)

{56, 'rahul', 'mohit'}

In [31]:
# loops in sets 
for i in a:
    print(i)

56
rahul
mohit

In [33]:
a.add(5000)
a
a.remove('mohit')
a

{5000, 56, 'rahul'}

In [34]:
# operations in sets 
a= {1,2,3,4}
b={2,3,5,6}

# union 
a.union(b)

{1, 2, 3, 4, 5, 6}

In [36]:
a|b

{1, 2, 3, 4, 5, 6}

In [39]:
# intersection 
a.intersection(b)

{2, 3}

In [38]:
a&b

{2, 3}

In [40]:
a ={1,2,3}
a.clear()
a

set()

In [ ]:
# functions in python
# predefined & manually 
# .def
# name of the function /
# logic of the function 
# call the function or the name of the function

In [42]:
# Q.1> create a func to add  2 num 
def my_add():
    a= 4
    b=5
    c = a+b
    print("addition is  ", c)

In [44]:
my_add()

addition is   9

In [ ]:
# arguments and parameters 
# parameters are the values that are to be passed

In [ ]:
def my_add(a,b):# a and b are the parameters 
    c = a+b
    print("sum is ", c)
my_add(78, 56)# the 78 and 56 are the arguments

sum is  134

In [ ]:
# advance functions 
# lambda 
# syntax : lambda argument : expression

In [46]:
x = lambda a:a+5
print("total ", x(4))

total  9

In [ ]:
x= lambda a,b :a*b
print("total",x(7,6))

total 42

In [ ]:
x = lambda a,b,c:a+b-c
print("total is ", x(4,6,8))

total is  2

In [53]:
# filter function 
# items are filtered through the function 
# return true or false 
ages = [5,12,45,21,3,12,50]
ages = [5,12,17,18,34,67,50]
def myFunc(x):
    if(x<=18):
        return True
    else:
        return False
    
kid = list(filter(myFunc,ages))
print(kid)

[5, 12, 17, 18]

In [54]:
b=list(filter(float_num, ages))

In [55]:
def float_num(x):
    x = float(x)
    return x

In [56]:
#Map FUnction

a = ["3", "45", "89"]

#method -1
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

#method -2 using map

b = list(map(int,a))
print(b)

[3, 45, 89]
[3, 45, 89]

In [ ]:
employees = {
    "Ace": "HR",
    "Bob": "Engineering",
    "Crvcgdlie": "Engineering",
    "Dia": "HR",
    "Evgge": "Marketing"
}
def dep_emp(emp_dict,department):
    count =0

Total employees in Engineering: 3

In [60]:
books = []
while True:
    title = input("Enter book title (or type 'done'): ")
    if title.lower() == 'done':
        break
    author = input("Enter author name: ")
    books.append((title, author))

    print("\nBooks Collection:")
    for book in sorted(books):  
        print(f"Title: {book[0]}, Author: {book[1]}")

Books Collection:
Title: vivo, Author: aayush

In [65]:
def s_i(p,r,t):
    return (p*r*t)/100

print("enter pricipal")
p=float(input())
r=5
t=2
simple_Interest= s_i(p,r,t)
print(f"the total amount is {simple_Interest}")
print("total amount is ",p+simple_Interest)

enter pricipal
the total amount is 20.0
total amount is  220.0