In [3]:
df = pd.read_csv('data.csv')

In [1]:
import pandas as pd

In [4]:
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8776.0,JP
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7538.0,JP
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2320505.0,JP
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517631.0,JP
4,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26044.0,JP
...,...,...,...,...,...,...,...,...
9840,Shin Tennis no Ouji-sama: Hyoutei vs Rikkai - ...,tv,"Animation, Sport",2021.0,tt12451810,6.6,13.0,JP
9841,Gangnam B-Side,tv,"Crime, Drama, Mystery",2024.0,tt31390557,NaN,NaN,US
9842,Concordia,tv,"Drama, Thriller",2023.0,tt11324982,4.7,316.0,JP
9843,The Disappearance of Kimmy Diore,tv,Drama,2024.0,tt27207590,6.2,109.0,US
9844,Subscription Adultery,tv,"Drama, Romance",2023.0,tt29928960,NaN,NaN,JP

In [5]:
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8776.0,JP
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7538.0,JP
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2320505.0,JP
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517631.0,JP
4,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26044.0,JP

In [6]:
df.describe()

       releaseYear  imdbAverageRating  imdbNumVotes
count  9821.000000        8671.000000  8.671000e+03
mean   2011.465635           6.561158  3.684700e+04
std      13.892457           1.053589  1.471665e+05
min    1929.000000           2.000000  5.000000e+00
25%    2008.000000           6.000000  1.480000e+02
50%    2016.000000           6.700000  9.830000e+02
75%    2021.000000           7.300000  7.775000e+03
max    2025.000000           9.500000  2.965080e+06

In [11]:
# print(df.duplicate)
df = df.drop_duplicates()
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8776.0,JP
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7538.0,JP
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2320505.0,JP
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517631.0,JP
4,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26044.0,JP
...,...,...,...,...,...,...,...,...
9840,Shin Tennis no Ouji-sama: Hyoutei vs Rikkai - ...,tv,"Animation, Sport",2021.0,tt12451810,6.6,13.0,JP
9841,Gangnam B-Side,tv,"Crime, Drama, Mystery",2024.0,tt31390557,NaN,NaN,US
9842,Concordia,tv,"Drama, Thriller",2023.0,tt11324982,4.7,316.0,JP
9843,The Disappearance of Kimmy Diore,tv,Drama,2024.0,tt27207590,6.2,109.0,US
9844,Subscription Adultery,tv,"Drama, Romance",2023.0,tt29928960,NaN,NaN,JP

In [12]:
print(df.isnull().sum())

title                 293
type                    0
genres                169
releaseYear             8
imdbId                623
imdbAverageRating     891
imdbNumVotes          891
availableCountries      0
dtype: int64

In [ ]:
df.fillna(value={'column_name': 'default_value'}, inplace=True)  # Replace 'default_value' as needed

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9562 entries, 0 to 9844
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               9269 non-null   object
 1   type                9562 non-null   object
 2   genres              9393 non-null   object
 3   releaseYear         9554 non-null   float64
 4   imdbId              8939 non-null   object
 5   imdbAverageRating   8671 non-null   float64
 6   imdbNumVotes        8671 non-null   float64
 7   availableCountries  9562 non-null   object
dtypes: float64(3), object(5)
memory usage: 672.3+ KB

In [14]:
df = df.dropna()
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8776.0,JP
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7538.0,JP
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2320505.0,JP
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517631.0,JP
4,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26044.0,JP
...,...,...,...,...,...,...,...,...
9838,Black Clover,tv,"Action, Adventure, Animation",2017.0,tt7441658,8.2,38403.0,"JP, US"
9839,Cells at Work! Code Black,tv,"Action, Animation, Comedy",2021.0,tt12150836,7.5,729.0,JP
9840,Shin Tennis no Ouji-sama: Hyoutei vs Rikkai - ...,tv,"Animation, Sport",2021.0,tt12451810,6.6,13.0,JP
9842,Concordia,tv,"Drama, Thriller",2023.0,tt11324982,4.7,316.0,JP
9843,The Disappearance of Kimmy Diore,tv,Drama,2024.0,tt27207590,6.2,109.0,US

In [23]:
print(df.isna().sum())

title                 0
type                  0
genres                0
releaseYear           0
imdbId                0
imdbAverageRating     0
imdbNumVotes          0
availableCountries    0
dtype: int64

In [30]:
df = df.drop_duplicates()

In [ ]:
print(df.duplicated().sum())

0

In [16]:
df['releaseYear'] = df['releaseYear'].fillna(0).astype(int)
release_trends = df['releaseYear'].value_counts().sort_index()
print(release_trends)

releaseYear
1929      1
1932      1
1933      1
1936      1
1937      1
       ...
2020    442
2021    547
2022    672
2023    573
2024    322
Name: count, Length: 88, dtype: int64

/tmp/ipykernel_11922/1779028637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['releaseYear'] = df['releaseYear'].fillna(0).astype(int)

In [18]:
print(df['type'].unique())

['movie' 'tv']

In [19]:
# Count the occurrences of each type
type_counts = df['type'].value_counts()

print(type_counts)

type
movie    5461
tv       3199
Name: count, dtype: int64

In [ ]:
print(df['genres'].unique())

['Comedy, Crime, Romance' 'Comedy, Drama, Music' 'Drama, Romance'
 'Action, Adventure, Sci-Fi' 'Action, Adventure, Fantasy' 'Drama, Western'
 'Mystery, Sci-Fi, Thriller' 'Drama, Sport' 'Mystery, Thriller'
 'Action, Drama, Sci-Fi' 'Action, Adventure, Drama' 'Action, Adventure'
 'Comedy, Drama, Romance' 'Action, Adventure, Horror' 'Comedy, Crime'
 'Comedy, Romance' 'Drama, Romance, Thriller' 'Adventure, Comedy, Family'
 'Comedy, Crime, Drama' 'Drama, Mystery, Sci-Fi' 'Drama, Fantasy, Romance'
 'Action, Animation, Drama' 'Comedy, Drama' 'Action, Crime, Drama'
 'Crime, Thriller' 'Adventure, Comedy, Sci-Fi' 'Action, Horror, Sci-Fi'
 'Horror, Mystery, Thriller' 'Action, Crime, Mystery'
 'Action, Crime, Thriller' 'Crime, Drama' 'Action, Crime, Romance' 'Drama'
 'Crime, Drama, Mystery' 'Drama, Mystery, Thriller' 'Horror, Sci-Fi'
 'Action, Crime, Fantasy' 'Action, Sci-Fi' 'Biography, Drama, Mystery'
 'Drama, Fantasy' 'Action, Adventure, Thriller' 'Biography, Crime, Drama'
 'Action, Fantasy, Horror' 'Action, Thriller' 'Horror, Mystery'
 'Adventure, Family, Sci-Fi' 'Action, Drama' 'Action, Drama, Music'
 'Adventure, Drama, Sci-Fi' 'Drama, Romance, Sci-Fi'
 'Action, Drama, Mystery' 'Adventure, Family, Fantasy'
 'Action, Adventure, Family' 'Action, Drama, Romance'
 'Drama, Music, Romance' 'Biography, Drama, History'
 'Action, Crime, Horror' 'Action, Comedy, Crime'
 'Drama, History, Thriller' 'Action, Drama, War' 'Drama, War'
 'Comedy, Fantasy, Horror' 'Adventure, Animation, Comedy'
 'Biography, Drama' 'Crime, Drama, Thriller' 'Adventure, Crime, Drama'
 'Action, Fantasy, Thriller' 'Drama, Horror, Sci-Fi'
 'Biography, Drama, Music' 'Action, Drama, History'
 'Crime, Mystery, Romance' 'Comedy' 'Comedy, Crime, Musical'
 'Comedy, Romance, Sport' 'Action, Adventure, Crime' 'Documentary'
 'Drama, Music' 'Adventure, Drama, Romance' 'Action, Drama, Thriller'
 'Action, Comedy, Horror' 'Comedy, Family, Music'
 'Action, Adventure, Comedy' 'Comedy, Drama, Fantasy'
 'Action, Adventure, Animation' 'Comedy, Drama, Musical'
 'Action, Mystery, Thriller' 'Fantasy, Horror, Mystery'
 'Adventure, Drama, Mystery' 'Comedy, Fantasy'
 'Adventure, Comedy, Thriller' 'Comedy, Family, Fantasy'
 'Adventure, Drama, Western' 'Comedy, Horror, Sci-Fi'
 'Crime, Mystery, Thriller' 'Drama, Thriller' 'Drama, Mystery' 'Horror'
 'Comedy, Fantasy, Musical' 'Drama, Musical, Romance'
 'Action, Drama, Horror' 'Adventure, Comedy, Musical'
 'Drama, Fantasy, Horror' 'Comedy, Mystery, Sci-Fi'
 'Action, Sci-Fi, Thriller' 'Action, Comedy, Drama' 'Horror, Thriller'
 'Action, Comedy' 'Action, Animation, Crime' 'Comedy, Sport'
 'Action, Crime' 'Horror, Sci-Fi, Thriller' 'Drama, Horror, Mystery'
 'Horror, Mystery, Sci-Fi' 'Comedy, Family, Romance' 'Comedy, Family'
 'Action, Crime, Sci-Fi' 'Action, Drama, Fantasy'
 'Comedy, Romance, Thriller' 'Animation, Crime, Drama'
 'Action, Adventure, Mystery' 'Action, Adventure, History'
 'Comedy, Drama, Mystery' 'Drama, Romance, War' 'Comedy, Drama, Family'
 'Adventure, Animation, Music' 'Action, Comedy, Sport'
 'Adventure, Drama, History' 'Adventure, Comedy, Fantasy'
 'Adventure, Fantasy, Horror' 'Animation, Drama, Mystery'
 'Drama, Thriller, War' 'Drama, Horror, Thriller'
 'Comedy, Horror, Thriller' 'Drama, Mystery, Romance'
 'Animation, Drama, Romance' 'Adventure, Animation, Family'
 'Animation, Comedy, Drama' 'Action, Mystery, Sci-Fi' 'Drama, Family'
 'Drama, History' 'Adventure, Comedy, Drama' 'Action, Biography, Drama'
 'Comedy, Drama, War' 'Drama, Sci-Fi' 'Animation, Drama, Sci-Fi'
 'Animation, Sci-Fi' 'Action' 'Adventure, Comedy, Crime'
 'Action, Animation, Mystery' 'Comedy, Documentary'
 'Action, Comedy, Romance' 'Romance' 'Action, Comedy, Fantasy'
 'Horror, Romance, Thriller' 'Animation, Drama, Family'
 'Adventure, Animation, Fantasy' 'Drama, History, War'
 'Adventure, Animation, Drama' 'Comedy, Horror' 'Crime, Horror, Mystery'
 'Adventure, Mystery, Thriller' 'Drama, History, Romance'
 'Comedy, Drama, Sci-Fi' 'Animation, Comedy, Family'
 'Crime, Drama, Romance' 'Biography, Drama, Romance'
 'Adventure, Animation, Sci-Fi' 'Action, Animation, Comedy'
 'Biography, Crime, Documentary' 'Action, Animation, Sci-Fi'
 'Comedy, Drama, Sport' 'Comedy, Music' 'Biography, Comedy, Documentary'
 'Fantasy, Horror' 'Crime' 'Horror, Romance' 'Horror, Mystery, Romance'
 'Biography, Drama, Family' 'Fantasy' 'Action, Adventure, Romance'
 'Adventure, Drama' 'Documentary, Horror' 'Drama, Horror'
 'Action, Animation, Fantasy' 'Action, Animation, War'
 'Action, Adventure, Short' 'Action, Comedy, Sci-Fi' 'Thriller'
 'Adventure, Fantasy, Mystery' 'Comedy, Horror, Musical'
 'Action, Comedy, Thriller' 'Crime, Drama, Horror' 'Action, Comedy, Music'
 'Action, War' 'Action, Fantasy, Sci-Fi' 'Adventure, Drama, Thriller'
 'Adventure, Fantasy' 'Comedy, Crime, Mystery' 'Comedy, Family, Sport'
 'Action, Drama, Sport' 'Animation, Drama, Fantasy' 'Mystery, Romance'
 'Adventure, Thriller' 'Action, Fantasy' 'Drama, Romance, Sport'
 'Drama, Thriller, Western' 'Animation, Sport' 'Crime, Drama, Fantasy'
 'Drama, Sci-Fi, Thriller' 'Comedy, Mystery' 'Comedy, Horror, Mystery'
 'Comedy, Fantasy, Romance' 'Documentary, Music'
 'Biography, Comedy, Drama' 'Drama, Family, Fantasy'
 'Documentary, History' 'Animation, Comedy, Sci-Fi'
 'Biography, Comedy, Crime' 'Comedy, Drama, History'
 'Biography, Drama, Musical' 'Animation, Drama, Music' 'Action, History'
 'Comedy, Drama, Horror' 'Animation' 'Adventure, Comedy, Music'
 'Animation, Drama, Sport' 'Adventure, Drama, Family'
 'Adventure, Mystery, Sci-Fi' 'Biography, Drama, Sport'
 'Animation, Fantasy' 'Action, Family, Fantasy'
 'Documentary, Music, Sport' 'Fantasy, Romance' 'Animation, Drama'
 'Drama, Music, Sci-Fi' 'Animation, Comedy, Romance' 'Adventure'
 'Crime, Horror, Sci-Fi' 'Romance, Sci-Fi' 'Action, Romance'
 'Drama, Fantasy, Music' 'Action, Family, Sci-Fi' 'Comedy, Sci-Fi'
 'Drama, Horror, Romance' 'Drama, War, Western'
 'Animation, Sci-Fi, Thriller' 'Animation, Sci-Fi, Short'
 'Horror, Music, Mystery' 'Action, Thriller, Western'
 'Action, Animation, Romance' 'Comedy, Horror, Romance'
 'Comedy, Horror, Sport' 'Drama, Family, Romance'
 'Animation, Drama, Thriller' 'Adventure, Comedy, Romance'
 'Animation, Family' 'Action, Comedy, Western' 'Action, Comedy, Musical'
 'Action, Western' 'Comedy, Crime, Thriller' 'Animation, Family, Short'
 'Fantasy, Mystery, Romance' 'Action, Comedy, History'
 'Animation, Romance, Sci-Fi' 'Animation, Family, Music'
 'Crime, Documentary, Drama' 'Animation, Comedy, Sport' 'Fantasy, Mystery'
 'Action, Romance, Thriller' 'Documentary, Drama, Horror'
 'Animation, Short' 'Adventure, Sci-Fi' 'Action, Drama, Western'
 'Documentary, Sport' 'Action, Short' 'Adventure, Horror, Short' 'Short'
 'Crime, Mystery' 'Biography, Drama, Thriller'
 'Action, Thriller, Drama, Science Fiction' 'Action, Horror, Mystery'
 'Animation, Mystery, Sci-Fi' 'Animation, Family, Sport'
 'Biography, Drama, War' 'Action, Drama, Family' 'Drama, Family, Musical'
 'Action, Fantasy, Musical' 'Crime, Drama, History' 'Mystery'
 'Crime, Mystery, Sci-Fi' 'Comedy, Fantasy, Music'
 'Animation, Biography, Drama' 'Biography' 'Sci-Fi'
 'Action, Animation, Sport' 'Comedy, Crime, Family'
 'Drama, Fantasy, Mystery' 'Drama, Horror, Western'
 'Biography, Documentary, History' 'Crime, Romance, Thriller'
 'Action, Fantasy, Romance' 'Crime, Horror, Thriller'
 'Adventure, Documentary, News' 'Drama, Fantasy, History'
 'Animation, Comedy, Crime' 'Documentary, Drama, Family'
 'Comedy, Crime, Horror' 'Drama, Fantasy, Thriller'
 'Biography, Documentary, Music' 'Action, Horror'
 'Animation, Drama, Short' 'Biography, Documentary' 'Comedy, History'
 'Crime, Drama, Music' 'Family' 'Adventure, Music'
 'Adventure, Biography, History' 'Adventure, Biography, Drama'
 'Comedy, Drama, Thriller' 'Adventure, Drama, Fantasy'
 'Documentary, History, Music' 'Crime, Sci-Fi, Thriller'
 'Action, Horror, Thriller' 'Drama, History, Musical' 'Comedy, Thriller'
 'Adventure, Comedy, Documentary' 'Animation, Drama, History'
 'Drama, Short' 'Drama, Family, Music' 'Drama, Music, Musical'
 'Biography, Drama, Horror' 'Action, Adventure, Biography'
 'Drama, Musical' 'Adventure, Biography, Crime' 'Comedy, Musical, Romance'
 'Animation, Comedy' 'Drama, Musical, Sci-Fi' 'Action, Biography, Crime'
 'Drama, Family, Sci-Fi' 'Animation, Documentary, Mystery'
 'Documentary, Family' 'Horror, Short' 'Biography, Documentary, Drama'
 'Drama, Crime' 'Action, Animation' 'Adventure, Drama, Horror'
 'Romance, Short' 'Drama, History, Western'
 'Adventure, Documentary, Sport' 'Drama, History, Mystery'
 'Fantasy, Horror, Thriller' 'Mystery, Sci-Fi' 'Comedy, Horror, Music'
 'Animation, Fantasy, Horror' 'Biography, Documentary, Sport'
 'Drama, Family, Mystery' 'Horror, Music, Thriller' 'Romance, Drama'
 'Horror, Sci-Fi, Short' 'Action, History, War' 'Comedy, Music, Romance'
 'Sci-Fi, Short' 'Drama, Short, Thriller' 'Music' 'Crime, Drama, Sci-Fi'
 'Animation, Musical, Romance' 'Drama, Musical, Thriller'
 'Comedy, Fantasy, Mystery' 'Adventure, Animation, Crime'
 'Documentary, War' 'Romance, Comedy' 'Documentary, Drama, Sport'
 'Action, Fantasy, Mystery' 'Comedy, Romance, Sci-Fi'
 'Animation, Comedy, Music' 'Comedy, Musical' 'Sci-Fi, Thriller'
 'Fantasy, Mystery, Sci-Fi' 'Family, Fantasy, Sci-Fi' 'Short, Thriller'
 'Comedy, Horror, Short' 'Crime, Family' 'Animation, Fantasy, Music'
 'Adventure, Comedy' 'Documentary, Drama' 'Comedy, Documentary, Musical'
 'Comedy, Short' 'Adventure, Horror' 'Family, Fantasy, Music'
 'Animation, Documentary' 'Animation, Biography, Documentary'
 'Action, Fantasy, Short' 'Romance, Sport' 'Action, Animation, Horror'
 'Thriller, War' 'Documentary, Short' 'Adventure, Horror, Thriller'
 'Action, Comedy, Mystery' 'Sport' 'Adventure, Biography, Documentary'
 'Documentary, Drama, Music' 'Comedy, War' 'Adventure, Fantasy, Musical'
 'Comedy, Fantasy, History' 'Musical, Romance' 'Documentary, History, War'
 'Crime, Documentary, History' 'Fantasy, Thriller'
 'Animation, Family, Fantasy' 'Drama, Comedy' 'History'
 'Crime, Documentary' 'Animation, Comedy, Fantasy'
 'Comedy, Documentary, Drama' 'Animation, Mystery, Thriller'
 'Adventure, Horror, Sci-Fi' 'Documentary, Music, Thriller'
 'Fantasy, Short' 'Comedy, Mystery, Romance' 'Documentary, News'
 'Animation, Comedy, Horror' 'Romance, Thriller' 'Reality-TV'
 'Crime, Documentary, Mystery' 'Comedy, Romance, Drama'
 'Crime, Documentary, Horror' 'Animation, Crime, Documentary'
 'Biography, Thriller' 'Adventure, Crime, Mystery'
 'Action, Adventure, Game-Show' 'Game-Show, Reality-TV, Thriller'
 'Game-Show, Reality-TV' 'Game-Show, Reality-TV, Romance'
 'Animation, Drama, Horror' 'Documentary, Game-Show, Reality-TV'
 'Comedy, Music, Talk-Show' 'Family, Music, Reality-TV' 'Action, Sport'
 'Adventure, Documentary, Reality-TV' 'Music, Reality-TV'
 'Comedy, Documentary, Family' 'Adventure, Reality-TV'
 'Family, Game-Show, Music' 'Comedy, Drama, Reality-TV'
 'Crime, Mystery, Reality-TV' 'Comedy, Family, Game-Show'
 'Action, Reality-TV' 'Documentary, Drama, History'
 'Game-Show, Music, Reality-TV' 'Adventure, Game-Show, Reality-TV'
 'Family, Reality-TV' 'Reality-TV, Romance'
 'Documentary, History, Mystery' 'Documentary, Reality-TV'
 'Comedy, Documentary, Horror' 'Comedy, Reality-TV'
 'Documentary, History, Sci-Fi' 'Animation, Family, Sci-Fi'
 'Documentary, History, Reality-TV' 'Talk-Show'
 'Family, Game-Show, Reality-TV' 'Adventure, Family, Reality-TV'
 'Comedy, Reality-TV, Romance' 'Comedy, Game-Show, Reality-TV'
 'Adventure, Documentary' 'Comedy, Family, History'
 'Fantasy, History, Sci-Fi' 'Biography, Documentary, Reality-TV'
 'Adventure, Animation, Horror' 'Crime, Documentary, Reality-TV'
 'Adventure, Fantasy, Romance' 'Crime, Romance' 'Crime, Reality-TV'
 'Animation, Sport, Thriller' 'Action, Animation, Thriller'
 'Animation, Comedy, Short' 'Biography, Comedy'
 'Fantasy, Mystery, Thriller' 'Animation, Fantasy, Romance'
 'Action, Animation, Family' 'Action, Animation, History'
 'Animation, Horror, Short' 'Comedy, Talk-Show' 'Comedy, Western'
 'Adventure, Game-Show, Horror' 'Game-Show' 'Animation, Romance'
 'Reality-TV, Western' 'Drama, Fantasy, Sci-Fi'
 'Action, Adventure, Documentary' 'Biography, Comedy, Game-Show'
 'Comedy, Game-Show' 'Animation, Music, Romance' 'Animation, Music'
 'Animation, Mystery' 'Animation, Crime, Horror' 'Game-Show, Music'
 'Animation, Music, Sport' 'Animation, Fantasy, Sci-Fi'
 'Comedy, Crime, Documentary' 'Animation, Family, Mystery'
 'Animation, Comedy, History' 'Family, Romance' 'News'
 'Adventure, Comedy, Horror' 'Animation, Comedy, Mystery'
 'Adventure, Animation' 'Drama, Mystery, Reality-TV' 'Animation, Horror'
 'Family, Game-Show' 'Game-Show, Sport' 'Adventure, Animation, History'
 'Crime, Fantasy' 'Music, Romance' 'Animation, Crime, Mystery'
 'Horror, Mystery, Reality-TV' 'Documentary, Game-Show'
 'Adventure, Family' 'Animation, Music, Musical'
 'Animation, Fantasy, Mystery' 'Crime, Mystery, Drama' 'Music, Short'
 'Animation, Comedy, Musical' 'Fantasy, Romance, Thriller'
 'Documentary, Crime' 'Animation, Music, Mystery'
 'Family, Mystery, Sci-Fi' 'Documentary, Thriller'
 'Adventure, Animation, Mystery' 'Adventure, History, Reality-TV'
 'Reality-TV, Talk-Show' 'Reality' 'Reality-TV, Sci-Fi'
 'History, Reality-TV' 'Comedy, Fantasy, Sci-Fi' 'Family, Kids, Animation'
 'Adventure, Crime, Family' 'Animation, Kids' 'News, Reality-TV'
 'Drama, Reality-TV' 'Comedy, Family, Sci-Fi'
 'Drama, Game-Show, Reality-TV' 'Animation, Horror, Mystery']

In [21]:
print(df[['title', 'genres']].head())

                 title                     genres
0                Ariel     Comedy, Crime, Romance
1  Shadows in Paradise       Comedy, Drama, Music
2         Forrest Gump             Drama, Romance
3    The Fifth Element  Action, Adventure, Sci-Fi
4   My Life Without Me             Drama, Romance